body {
  margin: 0;
  padding: 0;
  background: white;
}
.anton-sc-regular {
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card {
  box-shadow: 0 3px 10px rgba(170, 20, 20, 0.852);
  position: relative;
  background: #f44336;
}

.details > p {
  font-size: 0.8em;
  margin-top: 0.5em;
}

.details > label {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.details {
  color: white;
  box-shadow: 0 3px 10px rgba(227, 0, 0, 0.728);
  width: 100%;
  background-color: rgba(206, 31, 31, 0.933);
  position: absolute;
  bottom: 0;
  height: 2.6em;
  transition: height 0.5s ease-in-out;
  padding: 0.6em;
  overflow: hidden;
}

.card:hover > .details {
  height: 6.7em;
}

.web-title {
  text-align: center;
  color: red;
  border: none;
  border-radius: 1rem;
  margin: 1em;
}
.character-list {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr;
  grid-column-gap: 1em;
  border-style: none;
  padding: 1.5em;
  margin: 1rem;
  border-radius: 10px;
  list-style: none;
}

.list-item {
  display: grid;
  color: slategrey;
  line-height: 2rem;
  justify-items: center;
}

img {
  border: none;
  border-radius: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(239, 7, 7, 0.19);
  transition: border 0.5s;
}

button {
  color: #f44336;
  text-decoration: none;
  font-size: 25px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

button::before {
  margin-left: auto;
}

button::after,
button::before {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  transition: 0.5s;
}

button:hover::after,
button:hover::before {
  width: 100%;
}

.search-container {
  display: grid;
  grid-template-columns: 60% 25% 15%;
  margin: 1rem;
  gap: 7px;
  position: relative;
  color: grey;
}

.search-btn {
  grid-column: 3;
  cursor: pointer;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  font-size: medium;
}

.search-input {
  grid-column: 2;
  border: none;
  border-radius: 3px;
  background-color: whitesmoke;
  opacity: 90%;
  margin: 0.3rem;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #e8e8e8;
  box-shadow: 20px 20px 60px #c5c5c5, -20px -20px 60px #ffffff;
  transition: 0.3s;
}

.search-input:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
  transition: 0.3s;
}

.char-name {
  text-decoration: none;
  color: rgb(38, 38, 38);
}

.character-container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr 90%;
  grid-column-gap: 1.5em;
  background: whitesmoke;
  border: none;
  border-radius: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 15%;
}
.name-container {
  color: rgb(38, 38, 38);
  grid-column: 1;
  grid-row: 1;
  margin: 2em;
  white-space: nowrap;
}
.desc-container {
  color: rgb(38, 38, 38);
  grid-column: 2;
  grid-row: 2;
  margin: 2.5em;
  margin-top: 0;
}
#search-char-desc {
  margin-top: 0;
  margin-bottom: 0;
}

.img-container {
  grid-row: 2;
  grid-column: 1;
  margin: 2em;
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  .character-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 4em;

    margin: 2em;
  }

  #search-container {
    grid-template-columns: 80% 15% 5%;
  }
  .character-container {
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr 90%;
    grid-column-gap: 1.5em;
    margin: 10em;
  }
  .img-container {
    grid-row: 2;
    grid-column: 1;
    margin-left: 6em;
  }
  .name-container {
    margin-left: 6em;
  }
  #search-char-desc {
    padding-right: 3em;
    margin-right: 3em;
  }
  #search-char-img {
    margin-bottom: 4em;
  }
}
